<div class="voltar-pagina">
    <i class="fas fa-arrow-left"></i>
    <button routerLink="../dashboard">voltar para página anterior</button>
</div>

<div class="detalhes-indicacao">
    <h1>Detalhes da indicação</h1>
    
    <div class="informacoes-basicas">
        <div class="cartao cabecalho">
            <h2>Informações básicas</h2>
            <i class="fas fa-pen"></i>
        </div>

        <div class="cartao informacoes-detalhadas">

            <div class="informacoes-indicado nome-indicado">
                <p class="titulo-informacao">Nome completo</p>
                <p class="descricao-informacao"> {{ dadosIndicado.nome }} </p>
            </div>
            
            <div class="informacoes-indicado">
                <p class="titulo-informacao">Telefone</p>
                <p class="descricao-informacao"> {{ dadosIndicado.telefone }}</p>
            </div>

            <div class="informacoes-indicado">
                <p class="titulo-informacao">Email</p>
                <p class="descricao-informacao"> {{ dadosIndicado.email}} </p>
            </div>

            <div class="informacoes-indicado">
                <p class="titulo-informacao">Empresa</p>
                <p class="descricao-informacao"> {{ dadosIndicado.empresa }}</p>
            </div>

            <div class="informacoes-indicado">
                <p class="titulo-informacao">Corretor</p>
                <p class="descricao-informacao">{{ dadosIndicado.corretor }}</p>
            </div>
        </div>
    </div>       
    
    <div class="cartao status">
        <h2>Status: {{ dadosIndicado.status }}</h2>
    </div>
</div>