:host {
    font-family: 'Open Sans';
}

button:hover {
    cursor: pointer;
}

.voltar-pagina {
    padding-bottom: 30px;
    
    font-size: 12px;
    color: #40CFCB;

    button {
        border: none;   

        font-size: 12px;
        text-transform: uppercase;
        color: #40CFCB;

        background-color: unset;
    }
}

.detalhes-indicacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    h1 {
        width: 100%;

        font-size: 22px;
        font-weight: bold;
        padding-bottom: 30px;
        color: #343224;
    }

    .informacoes-basicas {
        display: flex;
        flex-direction: column;
        
        width: 45%;
        box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
        border-radius: 5px;
    }

    .cartao {        
        height: 20px;
        padding: 30px 50px;
        
        background-color: white;
    }
    
    .cabecalho {
        display: flex;
        justify-content: space-between;     
        flex-wrap: wrap;
            
        border-bottom: solid 1px #D6D6D6;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        font-size: 16px;
        font-weight: bold;

        h2 {
            color: #009E9A;
        }

        i {
            color: #40CFCB;
        }
    }
    
    .informacoes-detalhadas {
        display: flex;
        flex-wrap: wrap;

        height: auto;

        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

        .informacoes-indicado {
            width: 50%;
            padding: 10px 0;
            line-height: 25px;

            font-size: 14px;
            color: #343224;
        }

        .nome-indicado {
            width: 100%;
        }

        .descricao-informacao {
            font-weight: bold;
        }

    }   

    .status {
        width: 45%;

        box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
        border-radius: 5px;
        
        font-size: 16px;
        font-weight: bold;

        span {
            text-transform: uppercase;
        }
    }

    .proposta-fechada {
        font-size: 14px;
        font-weight: bold;
        color: #007508;
    }

    .sem-corretor {
        font-size: 14px;
        font-weight: bold;
        color: #AA6600;
    }
   
}