<table>
    <thead>
        <tr>
            <th class="col-check checkbox"><input type="checkbox"></th>
            <th class="col-nome">nome</th>
            <th class="col-corretor">corretor/corretora</th>
            <th class="col-status">status</th>
            <th class="col-acoes"></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let valor of obterPaginaAtual()">
            <td class="col-check checkbox"><input [(ngModel)]="valor.check" type="checkbox"></td>
            <td class="col-nome">{{ valor.nome }}</td>
            <td class="col-corretor">{{ valor.corretor }}</td>
            <td class="col-status" [ngClass]="obterClasseStatus(valor.status || '')">{{ valor.status }}</td>
            <td class="col-acoes icones">
                <i [routerLink]="'../detalhes-indicacoes/' + valor.id" class="fa fa-address-card"></i>
                <i class="fas fa-trash-alt" (click)="excluirIndicacao(valor.id)"></i>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<div class="paginacao">
    <button [ngClass]="{'desabilitado':numeroPaginaAtual===0}" (click)="mudarPaginaInicio()">
        <i class="fas fa-angle-double-left"></i>
    </button>
    <button [ngClass]="{'desabilitado':numeroPaginaAtual===0}" (click)="mudarPagina(numeroPaginaAtual)">
        <i class="fas fa-angle-left"></i>
    </button>
    <button class="numeros" *ngFor="let pagina of obterPaginas()" [ngClass]="{'selecionado':pagina === (numeroPaginaAtual + 1)}" (click)="mudarPagina(pagina)">{{ pagina }}</button>
    <button [ngClass]="{'desabilitado':numeroPaginaAtual===obterQuantidadePaginas()-1}" (click)="mudarPaginaDireita(numeroPaginaAtual)">
        <i class="fas fa-angle-right"></i>
    </button>
    <button [ngClass]="{'desabilitado':numeroPaginaAtual===obterQuantidadePaginas()-1}" (click)="mudarPaginaFinal(numeroPaginaAtual)">
        <i class="fas fa-angle-double-right"></i>
    </button>
</div>
