<div class="add-indicacoes">
    <button>adicionar indicações</button>
</div>

<div class="cards-status">
    <app-card-status [quantidade]="8" [descricao]="'indicações sem corretor'"></app-card-status>
    <app-card-status [quantidade]="2" [descricao]="'propostas fechadas'"></app-card-status>
    <app-card-status [quantidade]="10" [descricao]="'em andamento'"></app-card-status>
    <app-card-status [quantidade]="5" [descricao]="'em negociação'"></app-card-status>
</div>

<div class="tabela-indicacoes">
    <h1>indicações</h1>
    <app-tabela-indicacoes></app-tabela-indicacoes>
</div>